/***** UTILITIES *****/

.dh-bg-dark {
    background-color: #2c3f50;
    color: #fff;
}

.dh-bg-green {
    background-color: #1abc9d;
    color: #fff;
}

.dh-bg-footer {
    background-color: #3b546d;
    color: #fff;
}


/***** /UTILITIES *****/


/***** SECTION start-bootstrap *****/
#start-bootstrap img {
    width: 200px;
}

/***** /SECTION start-bootstrap *****/

/***** SECTION portfolio *****/
#card-1 {
    background-color: #ba4b64;
}

#card-2 {
    background-color: #1da4b6;
}

#card-3 {
    background-color: #140f0f;
}

#card-4 {
    background-color: #1c83c1;
}

#card-5 {
    background-color: #0f38b5;
}

#card-6 {
    background-color: #ccb2a3;
}

/***** /SECTION portfolio *****/

/***** SECTION contact me *****/
#contact-me .btn {
    background-color: #1abc9d;
}

/***** /SECTION contact me *****/